.colors {
    background-color: rgba(0, 0, 0, 0.75);
    color: rgb(250 ,250 ,250);
    border-radius: 4px;
    text-align: center;
    width: 16em;
    height: 4em;
    padding: 5px;
    position: absolute;
    bottom: 1em;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    box-sizing: content-box;
    transition: bottom 300ms ease-in-out;
}

.color {
    display: block;
    width: 2em;
    height: 2em;
    z-index: 1;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
}

.colors-hidden {
    bottom: -5em;
}

.color-selected {
    z-index: 2;
    outline: 2px solid #fff;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.25);
}