#internal-canvas {
    display: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    z-index: 9999;
}

.game {
    margin: 0;
    height: 100vh;
    background-color: rgb(43, 42, 51);
}