.countdown {
    background-color: rgba(0, 0, 0, 0.75);
    color: rgb(250 ,250 ,250);
    border-radius: 4px;
    text-align: center;
    width: 11em;
    height: 3em;
    position: absolute;
    top: 0.2em;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    transition: top 200ms ease-in-out;
}

.countdown-hidden {
    top: -3em;
}

span {
    vertical-align: middle;
}

img {
    width: 7em;
    height: 2em;
}