.qrcode-wrapper {
    width: 100%;
    height: 100%;
}
.flex {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.link {
    width: 100%;
    height: 100%;
    max-width: 500px;
}

.qrauth {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 24px;
    padding-bottom: 48px;
}