.recenter {
    text-align: center;
    position: absolute;
    top: 0.2em;
    right: 0.2em;
    margin-left: auto;
}

.item {
    padding: .2rem;
    background: none;
    border: none;
}

.button {
    width: 3em;
    height: 3em;
    border-color: white;
}


.btn-primary.focus, .btn-primary:focus {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}